@model ControlPersonalAppWeb.AplicacionDePrograma

@{
    ViewBag.Title = "Detalle Aplicacin de programa";
}

<h2 class="display-4 text-center">Aplicacion del programa</h2>


<div>
    <h3 class="text-muted font-weight-light">Detalle</h3>
    <hr />
    <div class="col-sm-8 table-responsive">
        <table class="mx-auto table-borderless table-hover tabla-detalle">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SolicitudId)
                </td>

                <td>
                    <a href="~/Solicitudes/Details/@Model.SolicitudId">
                        @Html.DisplayFor(model => model.SolicitudId)
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </td>

                <td>
                    <span>@Model.FechaInicio.Value.ToShortDateString()</span>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </td>

                <td>
                    <span>@Model.FechaFin.Value.ToShortDateString()</span>
                </td>
            </tr>



        </table>
    </div>
</div>

@Html.Partial("Comentarios")

<div class="form-group col-md-9 mx-auto my-5">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-block btn-warning mt-3" })
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-block btn-danger mt-3" })
</div>
