@model ControlPersonalAppWeb.AplicacionDePrograma

@{
    ViewBag.Title = "Detalle Aplicacin de programa";
}

<h2>Aplicación de programa</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SolicitudId)
        </dt>

        <dd>
            <a href="~/Solicitudes/Details/@Model.SolicitudId">
            @Html.DisplayFor(model => model.SolicitudId)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            <span>@Model.FechaInicio.Value.ToShortDateString()</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            <span>@Model.FechaFin.Value.ToShortDateString()</span>
        </dd>

    </dl>
    @if (ViewBag.comentarios != null)
    {
        <label>Comentarios</label>
        <hr />
        foreach (var comentario in ViewBag.comentarios)
        {
            <div class="col-auto mb-1">
                <a href="/Trabajador/Details/@comentario.TrabajadorId"> @comentario.Trabajador </a>
                <span>@comentario.Fecha.ToString()</span>
            </div>
            <div class="col-auto mb-4 ml-3">
                <span>@comentario.Comentario1</span>
            </div>
            <hr />
        }
    }
</div>
@using (Html.BeginForm("Create", "Comentarios", new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="AplicacionDeProgramaId" value="@Model.Id" />
    <input name="Comentario1" class="form-control mb-4" />
    <input type="submit" value="Agregar comentario" class="btn btn-primary mb-4" />
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
