
@{
    ViewBag.Title = "Asistencias mensuales";
    var id = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Empresa;
}


    <h2 class="display-4 text-center my-3">Asistencias mensuales</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">

    <div class="row col-sm-12">

        <div class="form-group col-sm-6">
            <label class="control-label">Periodo</label>
            <input class="form-control" type="month" name="Periodo" />
        </div>

        <div align="left" class="form-group col-sm-6">
            <div class="form-group">
                <label class="control-label ">Hora</label>
                <input class="form-control" maxlength="5" type="time" id="Hora" name="Hora" required value="08:00">
            </div>
        </div>


        <input type="hidden" value="@id" name="id" id="id" />


    </div>
    <div class="form-group col-sm-12 ">
        <input type="submit" name="Accion" value="Generar" class="btn btn-primary btn-block" />
    </div>






    
    <div class="table-responsive col-sm-12">
        <h5 class="font-weight-normal mb-4 text-center">Trabajadores</h5>
        <div class="row">
            <div  class="col-sm-6">
                @Html.Partial("Busqueda")
            </div>
            <div class="col-sm-4">
                <select name="Huerto" class="form-control">
                    @foreach (var campo in ViewBag.campos)
                    {
                        if (ViewBag.campo == campo)
                        {
                            <option selected>@campo</option>
                        }
                        else
                        {
                            <option>@campo</option>
                        }
                    }
                </select>
            </div>
            <div class="col-2">
                <input type="submit" name="Accion" class="btn btn-primary mx-auto " value="Filtrar" />
            </div>
        </div>
        <table class="table" id="tabla">
            <tr class="bg-primary">
                <th>
                    <label><input type="checkbox" checked="checked" onClick="toggle(this)" /> Seleccionar todos</label><br />
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Rut
                </th>
                <th>
                    Campo
                </th>
            </tr>

            @foreach (var item in ViewBag.Trabajador)
            {
                <tr>
                    <td>
                        <label> <input type="checkbox" checked="checked" id="Permisos" name="centros" value=@item.Id class="custom-checkbox chkCheckBoxId" /></label> <br />
                    </td>
                    <td>
                        @item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno
                    </td>
                    <td>
                        @item.Rut
                    </td>
                    <td>
                        @item.Contratado
                    </td>
                </tr>
            }

        </table>
    </div>


</div>
}
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('centros');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
        }
    }
</script>