@{
    string cuenta = "";
    if (ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada() != null)
    {
        if (ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Permisos != null)
        {
            cuenta = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Permisos;
        }
    }
    else if (ViewBag.Cuenta != "lala")
    {
        //<meta http-equiv="Refresh" content="0;url=http://sgajcp.ingenieriajcp.cl/Cuenta/Login" />

    }
}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - IngenieriaJCP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">

        <div class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @Html.ActionLink("SGA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="navbar-nav mx-auto ulnav">
                    <!--<li>@Html.ActionLink("Acerca de", "About", "Home")</li>-->
                    @if (cuenta.Contains("HuertosV"))
                    {
                        <li>@Html.ActionLink("Huertos", "Index", "Campo")</li>
                    }
                    @if (cuenta.Contains("TrabajadoresV"))
                    {
                        <li>@Html.ActionLink("RR.HH.", "Index", "Trabajador")</li>
                    }
                    @if (cuenta.Contains("InformesV"))
                    {
                        <li>@Html.ActionLink("Informe", "Index", "Informes")</li>
                    }
                    @if (cuenta.Contains("Cosecha"))
                    {
                        <li>@Html.ActionLink("Modulo Cosecha", "Index", "Cosecha")</li>
                    }
                    @if (cuenta.Contains("EmpresasV"))
                    {
                        <li>@Html.ActionLink("Empresas", "Index", "Empresa")</li>
                    }
                    @if (cuenta.Contains("CuentasV"))
                    {
                        <li> @Html.ActionLink("Cuentas", "Index", "Cuenta") </li>
                    }
                    @if (cuenta.Contains("Remuneracion"))
                    {
                        <li>@Html.ActionLink("Remuneraciones", "Index", "HorasExtras")</li>
                    }
                    @if (cuenta.Contains("Log"))
                    {
                        <li>@Html.ActionLink("Log", "Index", "Log")</li>
                    }
                    <!--<li>@Html.ActionLink("Inventario", "Index", "Stock")</li>-->
                    @if (ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada() == null)
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre nosotros", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    }
                    @if(ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada() != null && ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Nivel!=6)
                    {
                        <li>@Html.ActionLink("Modulo cosecha", "NuevoModulo", "Home")</li>
                    }
                </ul>
                @if (cuenta.Contains("SGA"))
                {
                    <div id="dpbtn" class="dropdown">

                        <button id="buttDrop" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Sistema gestión bodega</button>

                        <div class="dropdown-menu fade-in" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            @Html.ActionLink("Sistema gestión bodega", "Index", "Stock", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Aplicaciones de programa", "index", "AplicacionDeProgramas", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Control de inventario", "Index", "ControlInventarios", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Comentarios", "Index", "Comentarios", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Ingresos", "Index", "Ingresos", null, new { @class = "dropdown-item" })
                            @if ((bool)ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Notificacion)
                            {
                                @Html.ActionLink("Notificaciones", "Index", "Notificaciones", null, new { @class = "dropdown-item" })
                            }
                            @Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Proveedores", "Index", "Empresa", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Solicitudes de productos", "Index", "Solicitudes", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Solicitudes de compras", "Index", "SolicitudDeCompras", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Tipos de productos", "Tipos", "Stock", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Unidades", "Unidades", "Stock", null, new { @class = "dropdown-item" })
                        </div>

                    </div>
                }
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("UserOption")
                </ul>
                <!-- BUSCAR!!! AQUIII -->
            </div>
        </div>

        <div style="min-height:70vh" class="container mt-3">
            @if (ViewBag.Remuneracion != null)
            {
                @Html.Partial("Remuneraciones")
            }
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer style="background:#007bff">
            <div class="main-footer widgets-dark typo-light">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h3 class="widget-title">JCP<span></span></h3>
                                <p>Somos una empresa dedicada a los sistemas de seguridad, sistemas de gestión, software a medida, sistema de monitoreo satelital y proyectos de ingeniería en general.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Enlaces rapidos<span></span></h5>
                                <ul class="thumbnail-widget">
                                    <li>
                                        <div class="thumb-content">@Html.ActionLink("Inicio", "Index", "Home")</div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">@Html.ActionLink("Sobre nosotros", "About", "Home")</div>
                                    </li>
                                    <li>
                                        <div class="thumb-content">@Html.ActionLink("Contacto", "Contact", "Home")</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Empieza<span></span></h5>
                                <p>Crea tu sistema con nosotros</p>
                                <a href='@Url.Action("Contact", "Home")'>
                                    <btn class="btn btn-primary" target="_blank">Contactanos</btn>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Informacion contacto<span></span></h5>
                                <p><a href="mailto:jcastro@ingenieriajcp.cl" style="color: #ff8d1e">jcastro@ingenieriajcp.cl</a></p>
                                <ul class="social-footer2">
                                    <a href="https://www.facebook.com/INGENIERIAJCP" target="_blank" title="Facebook"><img alt="Facebook" width="30" height="30" src="~/images/facebook.svg"></a>
                                    <!--<a href="https://www.twitter.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="~/images/twitter.svg"></a>
                                    <a href="https://www.instagram.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="~/images/instagram.svg"></a>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>&copy; @DateTime.Now.Year - IngenieriaJCP </p>
                            <!-- <img src="@Url.Content("~/Content/Jcp.JPG")" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script>

    window.onload = function () {
        var x = window.matchMedia("(max-width: 576px)")
        if (x.matches) {
            if ($('#dpbtn')[0] != null) {
                $('#dpbtn')[0].className = "dropup";
            }
        }
    }
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $('#dismiss, .overlay').on('click', function () {
        $('#sidebar').removeClass('active');
        $('.overlay').removeClass('active');
    });

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').addClass('active');
        $('.overlay').addClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });



</script>