
@{
    ViewBag.Title = "UserOption";
    var cuenta = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada();
    var notificaciones = ControlPersonalAppWeb.Utils.SessionManager.getNotificaciones();
}

@if (cuenta != null)
{

    <div class="notification-display" id="notificationD">
        <h4 class="text-center mt-2 font-weight-normal text-white">Notificaciones</h4>
        @foreach (Notificacion e in notificaciones)
        {
            <div class="card m-2 mr-4">
                <div class="card-header">
                    @e.Fecha
                </div>
                <div class="card-body">
                    <p class="card-text">@e.Texto</p>
                    @using (Html.BeginForm("Index", "Notificaciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@e.Id" name="Id" class="Id" />
                        <input type="submit" class="btn btn-danger delete" value="Rechazar" onclick="return confirm('Estas seguro de eliminar esto?');"/>
                        <input type="submit" class="btn btn-success" value="Aceptar" name="Accion" onclick="return confirm('Estas seguro de aceptar esto?')"})>
                    }
                </div>
            </div>
        }
    </div>

    <li class="mt-2"><a href="@Url.Action("Index","Trabajadores")">@cuenta.Usuario - @cuenta.Empresa</a></li>


    <button type="button" id="sidebarCollapse" class="btn btn-primary text-dark includer mx-1 ">
        <img height="23" width="23" src="~/images/notificacion.svg">

        @if (notificaciones != null && notificaciones.Count > 0)
        {
            <span class="badge badge-success">@notificaciones.Count</span>
        }

    </button>


    <li class="mt-2"><a href="@Url.Action("Salir","Cuenta")">Salir</a></li>
    <script>
        var x = window.matchMedia("(max-width: 576px)")
        var not = document.getElementById('notificationD');
        var btn = document.getElementById('sidebarCollapse');
        var clkbtn = 0;
        if (!x.matches) {
            btn.onclick = function () {
                if (not.style.display == "block") {
                    salida();
                    return;
                }
                entrada();
                clkbtn = 1

            }
            window.addEventListener('click', function (e) {
                if ((!(not.contains(e.target)) && clkbtn != 1)) {
                    salida();
                }
                clkbtn = 0
            });
            function entrada() {
                not.style.display = "block";
                not.classList.remove('scale-out-hor-right')
                not.classList.add('scale-in-hor-right')
            }
            function salida() {
                not.classList.remove('scale-in-hor-right')
                not.classList.add('scale-out-hor-right')
                setTimeout(function () { not.style.display = "none"; }, 500);
            }
        } else {
            if (btn != null) {
                btn.className = "d-none";
            }

        }

    </script>
}
else
{
    <li><a href="@Url.Action("Login","Cuenta")">Ingresar</a></li>
}

