@model ControlPersonalAppWeb.Solicitud

@{
    ViewBag.Title = "Detalle solicitud de productos";
}

    <h2 class="display-4 text-center">Solicitud de producto</h2>

    <div>
        <h3 class="text-muted font-weight-light">Detalle</h3>
        <hr />
        <div class="col-sm-8 table-responsive">
            <table class="mx-auto table-borderless table-hover tabla-detalle">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Trabajador)
                    </td>

                    <td>
                        <a href='@Url.Action("Trabajador", "Historial", new { id = Model.TrabajadorId })'>
                            @Html.DisplayFor(modelItem => Model.Trabajador)
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Productos)
                    </td>

                    <td>
                        @foreach (var stock in ViewBag.productos)
                        {
                            <a href="~/Historial/Producto/@stock.ProductoId">@stock.Producto</a><span>: @stock.Cantidad</span><br />
                        }
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Observación)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Observación)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Origen)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Origen)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Destino)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Destino)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Estado)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Estado)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Fecha)
                    </td>
                </tr>



            </table>
        </div>
        @Html.Partial("Comentarios")

        <div class="form-group col-md-9 mx-auto my-5">
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-block btn-danger mt-3" })
        </div>
    </div>