@model IEnumerable<ControlPersonalAppWeb.RegistroTrabajador>

@{
    ViewBag.Title = "Índice";
    var tipo = "";
    var cuenta = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada();
}

    <h1 class="display-4 text-center">
        Registros - @ViewBag.Trabajador.Nombre
    </h1>
    <hr />
    @if (cuenta.Permisos.Contains("RegistrosC"))
    {
        <a href='@Url.Action("Create", "Registro",new { id = ViewBag.trabajador.Id })'>
            <button type="button" class="btn btn-primary float-right mb-3">Crear Nuevo</button>
        </a>
    }

@using (Html.BeginForm())
{
    <div class="table-responsive">
        @Html.AntiForgeryToken()
        <table class="table teble-hover">
            <tr class="bg-primary">
                <th>
                    Tipo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    Hora
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Campo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>Accion</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Fecha.Hour < 12)
                        {
                            tipo = "Entrada";
                        }
                        else
                        {
                            tipo = "Salida";
                        }
                        @tipo
                    </td>
                    <td>
                        @item.Fecha.ToShortDateString()
                    </td>
                    <td>
                        @item.Fecha.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Campo)
                    </td>
                    <td>
                        <img src="@String.Format("data:image/jgp;base64,{0}", System.Convert.ToBase64String(item.Foto))" width="110" />
                    </td>
                    <td>
                        @if (cuenta.Permisos.Contains("RegistrosE"))
                        {
                            <a href='@Url.Action("Edit", "Registro", new { id = item.Id , idTrabajador = ViewBag.trabajador.Id})'>
                                <button type="button" class="btn btn-warning">Editar</button>
                            </a>
                        }
                        <a href='@Url.Action("Details", "Registro", new { id = item.Id, idTrabajador = ViewBag.trabajador.Id })'>
                            <button type="button" class="btn btn-info">Detalle</button>
                        </a>
                        @if (cuenta.Permisos.Contains("RegistrosD"))
                        {
                            <a href='@Url.Action("Delete", "Registro", new { id = item.Id })'>
                                <button type="button" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar el registro?');" })>Borrar</button>
                            </a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

   
}