@model ControlPersonalAppWeb.Ingreso

@{
    ViewBag.Title = "Details";
}

<h2 class="display-4 text-center">Ingreso</h2>


<div>
    <h3 class="text-muted font-weight-light">Detalle</h3>
    <hr />
    <div class="col-sm-8 table-responsive">
        <table class="mx-auto table-borderless table-hover tabla-detalle">

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Trabajador)
                </td>

                <td>
                    <a href='@Url.Action("Trabajador", "Historial", new { id = Model.TrabajadorId })'>
                        @Html.DisplayFor(modelItem => Model.Trabajador)
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Productos)
                </td>

                <td>
                    @foreach (var stock in ViewBag.productos)
                    {
                        <a href="~/Historial/Producto/@stock.ProductoId">@stock.Producto</a><span>: @stock.Cantidad</span><br />
                    }
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Fecha)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Fecha)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Ubicacion)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Ubicacion)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Proveedor)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Proveedor)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ProveedorRut)
                </td>

                <td>
                    @Html.DisplayFor(model => model.ProveedorRut)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Tipo)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Tipo)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Numero)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Numero)
                </td>

            </tr>
            <tr>

                @if (Model.Foto != null)
                {
                    <td>
                        @Html.DisplayNameFor(model => model.Foto)
                    </td>
                    <td>
                        <img src="@String.Format("data:image/jpg;base64,{0}",System.Convert.ToBase64String(Model.Foto))" width="auto" height="600" />
                    </td>
                }

            </tr>
        </table>


    </div>
    @Html.Partial("Comentarios")

    <div class="form-group col-md-9 mx-auto my-5">
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-block btn-danger mt-3" })
    </div>
</div>