@model ControlPersonalAppWeb.Ingreso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ingreso</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)



    <div id="contenedor">
        @foreach (var stock in ViewBag.stocks)
        {
            <div class="form-group extra">
                <label class="control-label col-md-2">Producto</label>
                <div class="col-md-10">
                    <select id="Producto" name="Producto" class="form-control producto" required>
                        @foreach (var producto in ViewBag.productos)
                        {
                            if (producto.Id == stock.ProductoId)
                            {
                                <option selected>@producto.Nombre</option>
                            }
                            else
                            {
                                <option>@producto.Nombre</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group extra">
                <label class="control-label col-md-2">Cantidad</label>
                <div class="col-md-10">
                    <input id="Cantidad" name="Cantidad" value="@stock.Cantidad" class="form-control" required />
                </div>
            </div>
        }
    </div>

    <div id="botones" class="form-group col-md-10">
        <button type="button" class="btn btn-primary col-auto" id="agregar" onclick="agregarProducto()">Agregar producto</button>
        <button type="button" class="btn btn-primary col-auto" id="eliminar" style="display:none" onclick="eliminarProducto()">Eliminar producto</button>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Proveedor, new SelectList(ViewBag.empresas), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Proveedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    var stocks = @Html.Raw(Json.Encode(ViewBag.stocks));
    var items = stocks.length-1;
    var eliminar = document.getElementById("eliminar");
    function agregarEliminar()
    {
        if (items > 0)
        {
            eliminar.style.display = "inline-block";
        }
    }

    agregarEliminar();

    function cargarHuertos()
    {
        var productos = @Html.Raw(Json.Encode(ViewBag.productos));
        var selects = document.getElementsByClassName('producto');
        var i;
        var j;
        for (j = items; j < selects.length; j++)
        {
            var select = selects[j];
            for (i = select.length; i >= 0; i--)
            {
                select.remove(i);
            }
            for (var product in productos)
            {
                select.add( new Option( productos[product].Nombre ) );
            }
        }
    }
    function eliminarProducto()
    {
        var selects = document.getElementsByClassName('extra');
        console.log(selects);
        console.log(selects.length);
        console.log(items);
        selects[items].remove();
        selects[items-1].remove();
        items = items - 1;
        if (items == 0)
        {
            eliminar.style.display = "none";
        }
    }
    function agregarProducto()
    {
        var contenedor = document.getElementById("contenedor");
        var divExternoProducto = document.createElement("div");
        divExternoProducto.className = "form-group extra";
        var labelProducto = document.createElement("label");
        var textoProducto = document.createTextNode("Producto");
        labelProducto.appendChild(textoProducto);
        labelProducto.className = "control-label col-md-2";
        var divInternoProducto = document.createElement("div");
        divInternoProducto.className = "col-md-10";
        divExternoProducto.appendChild(labelProducto);
        var select = document.createElement("select");
        select.id = "Producto";
        select.name = "Producto";
        select.className = "form-control producto";
        select.required = "required";
        divInternoProducto.appendChild(select);
        divExternoProducto.appendChild(divInternoProducto);
        contenedor.appendChild(divExternoProducto);

        var divExternoCantidad = document.createElement("div");
        divExternoCantidad.className = "form-group extra";
        var labelCantidad = document.createElement("label");
        var textoCantidad = document.createTextNode("Cantidad");
        labelCantidad.appendChild(textoCantidad);
        labelCantidad.className = "control-label col-md-2";
        var divInternoCantidad = document.createElement("div");
        divInternoCantidad.className = "col-md-10";
        divExternoCantidad.appendChild(labelCantidad);
        var cantidad = document.createElement("input");
        cantidad.id = "Cantidad";
        cantidad.name = "Cantidad";
        cantidad.className = "form-control";
        cantidad.required = "required";
        divInternoCantidad.appendChild(cantidad);
        divExternoCantidad.appendChild(divInternoCantidad);
        contenedor.appendChild(divExternoCantidad);
        items = items + 1;
        cargarHuertos();
        agregarEliminar();
    }
    //window.onload = cargarHuertos();
</script>