@model IEnumerable<ControlPersonalAppWeb.Ingreso>

@{
    ViewBag.Title = "Ingresos";
}

<h1 class="display-4 text-center">Ingresos</h1>
<hr />

    @Html.ActionLink("Agregar producto", "Create",null,new {@class = "btn btn-primary my-2 float-right" })


<div style="margin-top:24px">
    @Html.Partial("Busqueda")
</div>
    <div class="clearfix"></div>
<div class="table-responsive">
    <table class="table" id="tabla">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorRut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                Accion
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @if (item.Fecha != null)
            {
                <span>@item.Fecha.Value.ToShortDateString()</span>
            }
        </td>
        <td>
            <a href='@Url.Action("Trabajador", "Historial", new { id = item.TrabajadorId })'>
                @Html.DisplayFor(modelItem => item.Trabajador)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedorRut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
        </td>
    </tr>
        }

    </table>
</div>
