@model ControlPersonalAppWeb.Cuentas

@{
    ViewBag.Title = "Editar contraseña";
    var autenticada = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada();
}


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center display-4">Contraseña</h4>
        <h3 class="text-muted font-weight-light">Editar</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <div class="row" style="text-align: center;">
        <div class="col-sm-10">
            @if (ViewBag.alerta == 2)
            {
                <div class="my-3 alert alert-warning" role="alert">
                    Contraseña actual no es correcta
                </div>
            }
        </div>
        <div class="col-sm-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-sm-6 mx-auto">
                <label>Contraseña actual</label>
                <input class="form-control" type="password" id="Contraseña" required />
            </div>

            <div class="form-group col-sm-6 mx-auto">
                <label>Nueva contraseña</label>
                <input class="form-control" type="password" id="Password" name="Password" required />
            </div>

            <div class="form-group col-sm-6 mx-auto">
                <label>Confirmar contraseña</label>
                <input class="form-control" type="password" id="Confirmar" required onchange="val(this)" />
            </div>

        </div>
    </div>

        <div class="form-group col-md-9 mx-auto my-5">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block"/>
            @Html.ActionLink("Volver", "Details", new { Model.Id}, new { @class = "btn btn-block btn-danger mt-3" })
        </div>
    </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
<script>
    var todo = document.getElementById("Password");
    var todo2 = document.getElementById("Confirmar");
    function val(e) {
        console.log("Entra")
        console.log(e);
        if (todo.value != todo2.value) {
            alert("Las contraseñas no coinciden");
            todo2.setCustomValidity("Las contraseñas no coinciden");
            console.log("Las contraseñas no coinciden")
            console.log(todo2.value);

            e.preventDefault();
            return false;
        }
        else {
            todo2.setCustomValidity('asdasd');
            console.log("ta bien")
        }
    }
    $('#btnsubmit').submit(function (e) { val(e) })
</script>
    }
