@model IEnumerable<ControlPersonalAppWeb.Comentario>

@{
    ViewBag.Title = "Comentarios";
}
<h1 class="display-4 text-center">Comentarios</h1>
<hr />
<div style="margin-top:24px">
    @Html.Partial("Busqueda")
</div>
<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table" id="tabla">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AplicacionDeProgramaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Cuenta/Details/@item.TrabajadorId">
                        @Html.DisplayFor(modelItem => item.Trabajador)
                    </a>
                </td>
                <td>
                    <a href="/AplicacionDeProgramas/Details/@item.AplicacionDeProgramaId">
                        @Html.DisplayFor(modelItem => item.AplicacionDeProgramaId)
                    </a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario1)
                </td>
            </tr>
        }

    </table>
    </div>
