

@model IEnumerable<ControlPersonalAppWeb.Empresas>

@{
    ViewBag.Title = "Contratistas";
    var cuenta = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada();
}
<h1 class="display-4 text-center">Índice Contratistas</h1>
<hr />
@if (cuenta.Permisos.Contains("EmpresasC"))
{
    <a href='@Url.Action("Create", "Empresa")'>
        <button type="button" class="btn btn-primary float-right mb-3">Crear Nuevo</button>
    </a>
}

<div class="col-sm-8 form-label-group">
    <input type="text" id="busqueda" onkeyup="buscar()" class="mb-3 mt-1 form-control" placeholder="Búsqueda">
    <script src="~/Scripts/Busqueda.js"></script>
</div>
<div class="table-responsive">
    <table class="table table-hover" id="tabla">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                Acción
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>
                    @if (cuenta.Permisos.Contains("EmpresasE"))
                    {
                        <a href='@Url.Action("Edit", "Empresa", new { id = item.Id })'>
                            <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                    }
                    <a href='@Url.Action("Details", "Empresa", new { id = item.Id })'>
                        <button type="button" class="btn btn-info">Detalle</button>
                    </a>

                    @if (cuenta.Permisos.Contains("EmpresasD"))
                    {
                        <a href='@Url.Action("Delete", "Empresa", new { id = item.Id })'>
                            <button type="button" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar el contratista?');" })>Borrar</button>
                        </a>
                    }
                    <a href='@Url.Action("Habilitados", "Empresa", new { id = item.Id })'>
                        <button type="button" class="btn btn-success">Habilitados</button>
                    </a>
                    <!--
                    <a href='@Url.Action("Index", "Cargos", new { id = item.Id })'>
                        <button type="button" class="btn btn-dark" )>Cargos</button>
                    </a>
                    <a href='@Url.Action("Index", "CentroDeCostos", new { id = item.Id })'>
                        <button type="button" class="btn btn-success" )>Centros de costos </button>
                    </a>-->
                </td>
            </tr>
        }

    </table>
</div>

