@model ControlPersonalAppWeb.ControlInventario

@{
    ViewBag.Title = "Details";
}

    <h2 class="display-4 text-center">Control inventario</h2>
    <div>
        <h3 class="text-muted font-weight-light">Detalles</h3>
        <hr />
        <hr />
        <div class="col-sm-8 table-responsive">
            <table class="mx-auto table-borderless table-hover tabla-detalle">

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Trabajador)
                    </td>

                    <td>
                        <a href="~/Trabajador/Details/@Model.TrabajadorId">@Model.Trabajador</a>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Productos)
                    </td>

                    <td>
                        @foreach (var stock in ViewBag.productos)
                        {
                            <a href="~/Productos/Details/@stock.ProductoId">@stock.Producto</a><span>: @stock.Cantidad</span><br />
                        }
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Razon)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Razon)
                    </td>
                </tr>
               
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Fecha)
                    </td>
                </tr>

                </table>
        </div>
    <div class="form-group col-md-9 mx-auto my-5">
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-block btn-primary mt-3" })
    </div>
</div>
