@model IEnumerable<ControlPersonalAppWeb.ControlInventario>

@{
    ViewBag.Title = "Control Inventario";
}

<h1 class="display-4 text-center">Control Inventario</h1>
<hr />

    @Html.ActionLink("Crear un control de inventario", "Create",null,new {@class = "btn btn-primary my-2 float-right" })

<div style="margin-top:24px">
    @Html.Partial("Busqueda")
</div>

<div class="table-responsive">
    <table class="table" id="tabla">
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                Accion
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razon)
                </td>
                <td>
                    @if (item.Fecha != null)
                    {
                        <span>@item.Fecha.Value.ToShortDateString()</span>
                    }
                </td>
                <td>
                    <a href="/Trabajador/Detail/@item.TrabajadorId">
                        @Html.DisplayFor(modelItem => item.Trabajador)
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new {@class="btn btn-info" })
                </td>
            </tr>
        }

    </table>
</div>


<script src="~/Scripts/Busqueda.js"></script>