@model IEnumerable<ControlPersonalAppWeb.ControlInventario>

@{
    ViewBag.Title = "Control Inventario";
}

<h1 class="display-4 text-center">Gestión insumos por huertos</h1>
<hr />



<div class="row">
    <div class="col-8">
        @Html.Partial("Busqueda")
    </div>
    <div class="col-2">
        @Html.ActionLink("Informe", "Informe", null, new { @class = "btn btn-warning mt" })
    </div>
    <div class="col-2 ">
        @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary float-right" })
    </div>
</div>

<div class="table-responsive">
    <table class="table" id="tabla">
        <tr class="bg-primary">
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Accion
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    <a href='@Url.Action("Trabajador", "Historial", new { id = item.TrabajadorId })'>
                        @Html.DisplayFor(modelItem => item.Trabajador)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @if (item.Fecha != null)
                    {
                        <span>@item.Fecha.Value.ToShortDateString()</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }

    </table>
</div>


<script src="~/Scripts/Busqueda.js"></script>