@model ControlPersonalAppWeb.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolicitudId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolicitudId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaId )
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
