@model IEnumerable<ControlPersonalAppWeb.Stock>

@{
    ViewBag.Title = "Inventario";
}


<h1 class="display-4 text-center">Sistema gestión bodega</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <div class="col-2">
            <label>Búsqueda</label>
        </div>
        <div class="col-12">
            <input type="text" id="busqueda" onkeyup="buscar()" class="form-control">
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="col-2">
            <label>Huerto</label>
        </div>
        <div class="col-12">
            <select name="Huerto" class="form-control">
                @foreach (var campo in ViewBag.campos)
                {
                    if (ViewBag.campo == campo)
                    {
                        <option selected>@campo</option>
                    }
                    else
                    {
                        <option>@campo</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-2">
            <label>Tipo</label>
        </div>
        <div class="col-12">
            <select name="Tipo" class="form-control">
                @foreach (var tipo in ViewBag.tipos)
                {
                    if (ViewBag.tipo == tipo)
                    {
                        <option selected>@tipo</option>
                    }
                    else
                    {
                        <option>@tipo</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-2 mt-2">
        <input type="submit" class="btn btn-primary mx-auto " value="Filtrar" />
    </div>
</div>
}
<div class="table-responsive mt-3">
    <table class="table table-hover" id="tabla">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @if (ViewBag.campo != null)
            {
                if (ViewBag.campo != "Todos")
                {
                    @Html.DisplayNameFor(model => model.Ubicacion)
                }
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="~/Productos/Details/@item.ProductoId">@item.Producto</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @if (ViewBag.campo != null)
                {
                    if (ViewBag.campo != "Todos")
                    {
                        @Html.DisplayFor(modelItem => item.Ubicacion)
                    }
                }
            </td>
        </tr>
    }

</table>

</div>

<script src="~/Scripts/Busqueda.js"></script>