@model IEnumerable<ControlPersonalAppWeb.Datos>

@{
    ViewBag.Title = "Unidades";
}

<h1 class="display-4 text-center">Unidades</h1>
<hr />
@using (Html.BeginForm("Tipos", "Stock", new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <span class="d-block">Agregar unidades</span>
    <input class="form-control my-2 col-8 float-left" id="tipo" name="Value" required/>
    <input type="hidden" value="Unidades" name="Tipo" />
    if (ViewBag.id != null)
    {
        <input type="hidden" value="@ViewBag.id" name="Id" />
    }
    <input type="submit" class="btn btn-primary mb-4 col-2 float-right mt-2" value="Agregar" />
}
<div class="clearfix"></div>
<table class="table">
    <tr class="bg-primary">
        <th>
            <span>Unidad</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (!String.IsNullOrEmpty(item.Campo))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Campo)
                </td>
                <td>
                    @using (Html.BeginForm("Tipos", "Stock", new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@item.Llave" name="Llave" />
                        <input type="hidden" value="Unidades" name="Tipo" />
                        if (ViewBag.id != null)
                        {
                            <input type="hidden" value="@ViewBag.id" name="Id" />
                        }
                        <input type="submit" class="btn btn-danger" value="Eliminar" />
                    }
                </td>
            }
        </tr>
    }

</table>

<script>
    document.getElementById("tipo").onkeypress = function (e) {
        /^[a-zA-Z0-9]+$/.test(this.value) // return true or false
    };
</script>