
@{
    ViewBag.Title = "Asistencias mensuales";
    var id = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada().Empresa;
}

<h2>Asistencias mensuales</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" aling="center">
        <div class="form-group">
            <b class="control-label col-md-2">Periodo</b>
            <div class="col-md-10">
                <input class="form-control" type="month" name="Periodo" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <b class="control-label col-md-3">Trabajadores</b>
                <label><input type="checkbox" onClick="toggle(this)" /> Seleccionar todos</label><br />

                <div class="col-md-10">
                    <!--<label><input type="checkbox" id="select_all" /> Seleccionar todos</label><br />-->
                    @foreach (var trabajador in ViewBag.Trabajador)
                    {
                        <label><input type="checkbox" checked="checked" id="Permisos" name="centros" value=@trabajador.Id class="custom-checkbox chkCheckBoxId" /> @trabajador.Nombre @trabajador.ApellidoPaterno @trabajador.ApellidoMaterno - @trabajador.Rut</label><br />
                    }
                </div>
            </div>
        </div>
        <input type="hidden" value=@id name="id" id="id" />
        <div class="form-group">
            <div align="center" class="form-group col-lg-6">
                <input type="submit" value="Generar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('centros');
        for (var checkbox in checkboxes)
            checkbox.checked = source.checked;
    }
</script>