@{
    ViewBag.Title = "Informes";
    var cuenta = ControlPersonalAppWeb.Utils.SessionManager.CuentaAutenticada();
}



<h1 class="display-4 text-center">Informes</h1>
@using (Html.BeginForm())
{
    <div class="row mt-3">



        <div class="col-md-6">

            <a href='@Url.Action("Asistencias", "Trabajador")'>
                <button type="button" class="btn btn-primary btn-block mb-3">Asistencias mensuales</button>
            </a>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <h4 class="card-title col-md-6">Registro por rut</h4>

                            <div class="col-md-6">
                                <button type="button" class="btn btn-info btn-block" data-container="body" data-toggle="popover" title="Registro por rut" data-placement="bottom"
                                        data-content=" Al poner un rut, mostrará todos los registros de esta persona">
                                    Ayuda
                                </button>
                            </div>


                        </div>
                        <hr />

                        <input class="form-control" maxlength="10" type="text" id="Rut" name="Rut" oninput="checkRut(this)" placeholder="Rut...">
                        <script src="~/Scripts/validarRUT.js"></script>
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })




            <div align="left" class="form-group">
                <h4>Registros por Huerto</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <b class="control-label col-md-2">Nombre</b>
                    <div class="col-md-10">
                        @Html.DropDownList("Campo", new SelectList(ViewBag.campos), htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div align="left" class="form-group col-lg-6">

                <h4>
                    Hora de corte de inicio de actividades
                </h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <b class="control-label col-md-2">Hora</b>
                    <div class="col-md-10">
                        <input class="form-control" maxlength="5" type="time" id="Hora" name="Hora" value="08:00">
                        <script src="~/Scripts/validarRUT.js"></script>
                    </div>
                </div>
            </div>

            <div align="center" class="form-group">
                <input type="radio" id="Tipo" value="PDF" name="subject" checked="checked" />PDF
                <input type="radio" id="Tipo" value="EXCEL" name="subject" />EXCEL
                <input type="submit" value="Generar" class="btn btn-default" />
            </div>

        </div>

        <div class="col-md-6">


            <div class="form-group">
                <div class="card">

                    <div class="row align-items-center">
                        <h5 class="card-title mt-3 ml-3 col-7 text-center">Registros por rango de fechas</h5>
                        <button type="button" class="btn btn-info col-3 mt-1 float-right" title="Dismissible popover" data-container="body" data-toggle="popover" data-placement="bottom"
                                data-content="Inicio: al ingresar solo la fecha en este parametro, muestra todos los registros de 1 solo día
                                          Fin: Cuando esta inicio y fin, muestra los registros en ese rango de fechas">
                            Ayuda
                        </button>
                    </div>

                    <div class="card-body">
                        <b class="control-label col-3">Inicio</b>
                        <div class="col-4">
                            <input class="form-control" type="date" id="Inicio" name="Inicio" min="2019-01-01">
                        </div>

                        <b class="control-label col-3">Fin</b>
                        <div class="col-4">
                            <input class="form-control" type="date" id="Fin" name="Fin" min="2019-01-01" max="2019">
                        </div>
                        <!--<script src="~/Scripts/validarRUT.js"></script>-->
                    </div>
                </div>
            </div>


            @if (cuenta.Permisos.Contains("InformesA"))
            {
                using (Html.BeginForm("PorDia", "Trabajador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">

                        <div class="control-label">
                            <h4>Gestión de atrasos</h4>
                            <input class="form-control" type="datetime-local" id="Inicio" required name="Inicio" min="2019-01-01">
                            <b class="control-label col-md-12">Horas</b>
                            <input class="form-control" type="number" value="2" id="Horas" required name="Horas" max="24">
                            <input type="submit" value="Buscar" class="btn btn-default" />
                        </div>

                        <div class="form-group">
                            <h4>Instruciones  Atrasos </h4>
                            <div id="oculto2" style="display:inline-block" class="col-lg-8">
                                <strong>Fecha:</strong> Se elige el día y hora para mostrar a todas las personas que llegaron después de esa hora<br />
                                <strong>Hora</strong> Agrega horas a la fecha elegida para mostrar hasta esa hora, el valor 2 busca desde 8:00 a 10:00<br />
                            </div>
                        </div>
                    </div>
                }
            }


        </div>


    </div>
}
<script>
    function mostrar(enla) {
        obj = document.getElementById('oculto');
        obj.style.display = (obj.style.display == 'none') ? 'block' : 'none';
    }
    function mostrar2(enla) {
        obj = document.getElementById('oculto2');
        obj.style.display = (obj.style.display == 'none') ? 'inline-block' : 'none';
    }
</script>
