@model ControlPersonalAppWeb.Producto

@{
    ViewBag.Title = "Delete";
}

<h2 class="display-4 text-center">Producto</h2>
<h3 class="text-muted font-weight-light">Eliminar</h3>
<hr />

<h3 class="text-center font-weight-normal">Estas seguro de que quieres eliminar esto?</h3>
<div>
    <dl class="dl-horizontal mx-auto w-75">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @if (Model.Foto != null)
            {
                <img src="@String.Format("data:image/jpg;base64,{0}", System.Convert.ToBase64String(Model.Foto))" />
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-md-9 mx-auto my-5">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-block" />
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-block btn-primary mt-3" })
        </div>
    }
</div>
