@model IEnumerable<ControlPersonalAppWeb.Producto>

@{
    ViewBag.Title = "Productos";
}

<h1 class="display-4 text-center">Productos</h1>
<hr />


@Html.ActionLink("Crear producto", "Create", null, new { @class = "btn btn-primary my-2 float-right" })
<div style="margin-top:24px">
    @Html.Partial("Busqueda")
</div>
<table class="table" id="tabla">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miniatura)
        </th>
        <th style="width:40%">
            Accion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMin)
            </td>
            <td>
                @if (item.Miniatura != null)
                {
                    <img src="@String.Format("data:image/jgp;base64,{0}", System.Convert.ToBase64String(item.Miniatura))" width="80" />
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning mb-1" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info mb-1" })
                <a href='@Url.Action("Delete", "Productos", new { id = item.Id })' onclick="return confirm('¿Está seguro que desea eliminar el producto?')" })>
                    <label title="Eliminar" type="submit" class="btn btn-danger mb-1">Borrar</label>
                </a>
                @Html.ActionLink("Ficha técnica", "Ficha", new { id = item.Id }, new { @class = "btn btn-success mb-1" })
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/Busqueda.js"></script>
